@model NWC.DAL.Entity.Invoices

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invoices</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousConsumptionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousConsumptionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentConsumptionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentConsumptionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualConsumptionAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualConsumptionAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsThereSanitation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsThereSanitation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanitationConsumptionValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanitationConsumptionValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
